*{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    margin: 0;
    background-color:rgb(135, 194, 250);
}
h1{ 
  color: white;
  text-shadow: 4px 4px rgba(0, 0, 0, 0.534);
  text-align: center;
  font-size: 2em;
}
h2{
  font-size:1.5em;
}
p{
  font-size: 1em;
  text-align: center;
}
header{
  background-color: #465063;
  padding: 20px;
  text-align: center;
}
#container{
  margin-top: 50px;
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
}
#container > div{
  background-color: azure;
  width: 300px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.212) 10px 10px 0px;
  padding: 10px;
  margin: 10px;
}
#a1{
  border-style: solid;
  border-color: rgba(240, 106, 106, 0.658);
}
#a2{
  border-style: outset;
  border-color: rgb(139, 0, 252);
}
.button{
  background-color: #f55959; /* Green */
  border: none;
  color: white;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.button:hover{
  background-color: rgb(226, 226, 52);
}
.button:active{
  background-color: chartreuse;
}

footer{
  background-color: #465063;
  padding: 20px;
  text-align: center;
}


