*{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color:rgb(135, 194, 250);
}
header{
      background-color: rgb(142, 252, 252);
      border-radius: 5px;
}
main{
    background-color:rgba(252, 252, 252, 0.719);
    border-radius: 5px;
    padding:10px;
    width: 750px;
    height: auto;
    margin: auto;
    
}

a:link {
    color: rgb(4, 41, 252);
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: rgb(255, 0, 43);
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: rgb(238, 44, 44);
    background-color: transparent;
    text-decoration: underline;
  }
  a:active {
    color: rgb(26, 124, 252);
    background-color: transparent;
    text-decoration: underline;
  }
h1{
    text-align: center;
    font-size: 2em;
}
h2{
    font-size:1.5em;
}
p{
    font-size: 1em;
    text-align: center;
}