*{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    margin: 0;
    padding: 0;
    background-image:  url(../img/tile_background\ \(3\).png);
}
/* cabeçalho */
header{
  background-color: #465063;
  padding: 10px;
  text-align: center;
}
h1{ 
  color: white;
  text-shadow: 4px 4px rgba(0, 0, 0, 0.534);
  text-align: center;
  margin-top: 10px;
  font-size: 2em;
}
.diogozura{
  position: absolute;
  left: 10px;
  top: 20px;
  height: 48px;
}
nav a.buttonon{
  background-color: #efffaa; /* Green */
  border: none;
  color: rgb(0, 0, 0);
  padding: 3px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.button{
  border: none;
  background-color: rgb(135, 194, 250);
  color: rgb(0, 0, 0);
  padding: 3px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

h2{
  font-size:1.5em;
  text-align: center;
}
p{
  font-size: 1em;
  text-align: center;
}


#container{
  margin-top: 30px;
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
}
article{
  background-color: azure;
  width: 300px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.212) 5px 5px 3px;
  padding: 10px;
  margin: 10px;
}
.a1{
  border-style: solid;
  border-color: #18588F;
  border-width: 5px;
}
.a2{
  border-style: outset;
  border-color: #d0db3a;
  border-width: 5px;
}
.a3{
  border-style: outset;
  border-color: #8f1818;
  border-width: 5px;
}
.button:hover{
  background-color: rgb(255, 255, 100);
}
.button:active{
  background-color: chartreuse;
}
section.videocurso{
  margin-left: auto;
  margin-right: auto;
  max-width: 650px;
}

div.video{
  margin-bottom: 30px;
  margin: 0px, -40px;
  padding: 20px;
  padding-bottom: 57%;

  position: relative;
}
div.video > iframe{
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
}



footer{
  background-color: #465063;
  padding: 1px;
  margin: 0px;
  color: #FFFFFF; 
}


