*{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    margin: 0;
    background-image:  url(../img/tile_background\ \(3\).png);
}
h1{ 
  color: white;
  text-shadow: 4px 4px rgba(0, 0, 0, 0.534);
  text-align: center;
  margin-top: 10px;
  font-size: 2em;
}
h2{
  font-size:1.5em;
  text-align: center;
}
p{
  font-size: 1.2em;
  text-align: center;
}
header{
  background-color: #465063;
  margin: 0;
  padding: 5px;
  text-align: center;
}
#container{
  margin-top: 30px;
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
}
#container > div{
  background-color: azure;
  width: 300px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.212) 10px 10px 0px;
  padding: 10px;
  margin: 10px;
}
#a1{
  border-style: solid;
  border-color: #FA6811;
}
#a2{
  border-style: outset;
  border-color: #efffaa;
}
#a3{
  border-style: outset;
  border-color: #A528FA;
}
.button{
  border: none;
  background-color: rgb(135, 194, 250);
  color: rgb(0, 0, 0);
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.buttonon{
  background-color: #efffaa; /* Green */
  border: none;
  color: rgb(0, 0, 0);
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.button:hover{
  background-color: rgb(255, 255, 100);
}
.button:active{
  background-color: chartreuse;
}
.diogozura{
  position: absolute;
  left: 10px;
  top: 20px;
  height: 48px;
}

footer{
  background-color: #465063;
  margin-top: 30px;
  padding: 5px;
  color: #FFFFFF; 
}


